:root{
  --background: black;
  --foreground: gray;
}

body {
  margin: 0;
  color: var(--foreground);
  background-color: var(--background);

  #top-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: linear-gradient(0deg, transparent, var(--background));
    backdrop-filter: blur(10px);
    padding-bottom: 1rem;
    position: sticky;
    top: 0;

    header {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      h1 {
        font-style: italic;
        font-size: 3rem;
        margin-bottom: 0;
      }
    }

    #search {
      background-color: rgba(128, 128, 128, 0.498);
      width: 60vw;
      display: flex;
      border-radius: 2rem;
      border: 1px solid black;

      input {
        margin: 1rem;
        background-color: var(--background);
        width: 80%;
        padding: 1rem;
        border-radius: inherit;
        outline: none;
        border: 1px solid black;
      }

      a {
        width: 4rem;
        margin: 0.5rem 0 0.5rem 5%;
      }
    }
  }

  #searchResults {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
    overflow-y: auto;

    .card {
      background-color: var(--background);
      margin: 1rem;
      border-radius: 1rem;
      border: 1px solid var(--foreground);
      width: 20rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem;

      legend{
        padding: 0 0.5rem;
        font-weight: bold;
      }

      h2 {
        margin: 0.5rem;
      }

      p {
        margin: 0.5rem;
      }

      a {
        margin: 0.5rem;
        background-color: black;
        padding: 0.5rem;
        border-radius: 1rem;
        text-decoration: none;
        color: gray;
      }
    }
  }
}
