:root {
  --background: black;
  --foreground: lightgray;
}

body {
  margin: 0;
  color: var(--foreground);
  background-color: var(--background);

  #notifications {
    position: fixed;
    top: 1rem;
    left: 1rem;
    width: 15rem;
    height: fit-content;
    z-index: 2;

    display: flex;
    flex-direction: column;

    .notification {
      background-color: var(--foreground);
      color: var(--background);
      padding: 1rem;
      border-radius: 1rem;
      margin-bottom: 1rem;
    }
  }

  #top-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: linear-gradient(0deg, transparent, var(--background));
    backdrop-filter: blur(10px);
    padding-bottom: 1rem;
    position: sticky;
    top: 0;
    z-index: 1;

    #quickActions {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 8rem;
      align-items: center;
      top: 0.5rem;
      position: absolute;
      right: 1rem;

      #logo {
        width: 1.7rem;
        height: 1.7rem;
      }

      #toggleTheme {
        height: 1.5rem;
        width: 1.5rem;
      }

      #openBookmark {
        width: 1.7rem;
        height: 1.7rem;
      }

      #openSetting {
        width: 1.5rem;
        height: 1.5rem;
      }

      button {
        border: none;
        background: none;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
    }

    header {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      h1 {
        font-style: italic;
        font-size: 3rem;
        margin-bottom: 0;
      }
    }

    #search {
      background-color: var(--foreground);
      width: 60vw;
      display: flex;
      border-radius: 1rem;
      align-items: center;
      justify-content: space-evenly;

      input {
        margin: 1rem;
        background-color: var(--background);
        width: 85%;
        padding: 0.5rem 1rem;
        border-radius: inherit;
        outline: none;
        border: none;
        color: var(--foreground);
      }

      a {
        width: 3rem;
        margin-right: 1rem;
        margin-top: 0.3rem;
      }
    }
  }

  #searchResults {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
    overflow-y: auto;

    .card {
      background-color: var(--background);
      margin: 0.7rem 1rem;
      border-radius: 1rem;
      border: 1px solid var(--foreground);
      max-width: 25rem;
      min-width: 15rem;
      position: relative;
      padding: 2rem;

      legend {
        padding: 0 0.5rem;
        font-weight: bold;
        font-size: 1.2rem;
      }

      .cardButtons {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 95%;
        width: 95%;
        position: absolute;
        top: 0;
        left: 3%;
        background-color: inherit;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
        backdrop-filter: blur(50px);

        button {
          border: none;
          max-height: 50%;
          background-color: inherit;
          padding: 1rem;
          display: flex;
          align-items: center;
          outline: none;
          border-radius: 1rem;
          color: var(--foreground);
          text-decoration: none;
          font-size: 1rem;
          position: relative;
          overflow: hidden;
          font-weight: bolder;
        }

        button:focus, button:hover {
          outline: 1px solid var(--foreground);
          border: 1px solid var(--foreground);
        }
      }

      &:hover .cardButtons, &:focus-within .cardButtons {
        opacity: 0.9;
      }
    }
  }

  #SettingsBackground {
    height: 100vh;
    width: 100vw;
    background-color: transparent;
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    #SettingsContainer {
      min-width: 50vw;
      min-height: 20vh;
      max-height: fit-content;
      max-width: fit-content;
      background-color: var(--background);
      color: var(--foreground);
      position: absolute;
      border: 0.1rem solid var(--foreground);
      border-radius: 1rem;
      padding: 1rem;
      overflow-y: auto;

      header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 1rem;

        h2 {
          margin: 0;
        }

        span {
          margin: 0 1rem;
        }

        button {
          background: var(--background);
          border: none;
          cursor: pointer;
          color: var(--foreground);
          padding: 0 1rem;
          border-radius: 0.5rem;
        }

        button:hover {
          background: var(--foreground);
          color: var(--background);
        }
      }

      section {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;

        h3 {
          margin-right: auto;
        }

        button, textarea {
          margin: 0 0.5rem;
          background: none;
          border: 1px solid var(--foreground);
          height: fit-content;
          padding: 0.5rem 1rem;
          border-radius: 10px;
          outline: none;
        }

        textarea {
          min-width: 55%;
          max-width: 70%;
          height: 30vh;
          color: var(--foreground);
        }
      }
    }
  }
}
